<mat-card class="mycard">
    <mat-card-header>
        <mat-card-title>Homer Simpson</mat-card-title>
        <mat-card-subtitle>Duff!</mat-card-subtitle>
    </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/originals/11/d7/2f/11d72f268dce930e0545b7df52d7de6c.png" 
        alt="homer simpson">
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color = "accent">Like</button>
        <button mat-button color = "accent">Share</button>
    </mat-card-actions>
</mat-card>